<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>LOGIN AND REGISTRATION</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>


<body>

    <div id="register">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
        </ul>
        {% endif %}
        <form action="/register" method="POST">
            {% csrf_token %}
            <h1></h1>
            <div class="form-group">
                <label for="first_name">First name</label>
                <input type="text" class="form-control" name="first_name" placeholder="First Name">
            </div>
            <div class="form-group">
                <label for="last_name">Last Name</label>
                <input type="text" class="form-control" name="last_name" placeholder="Last Name">
            </div>
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" name="email" aria-describedby="emailHelp"
                    placeholder="Enter email">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password" placeholder="Password">
            </div>
            <div class="form-group">
                <label for="confirm_password">Confirm Password</label>
                <input type="password" class="form-control" name="confirm_password" placeholder="Confirm Password">
            </div>


            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>




    <div id="Login">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
        </ul>
        {% endif %}
        <form action="/login" method="POST">
            {% csrf_token %}
            <h1>Login</h1>
            <div class="form-group">
                <label for="login_email">Email</label>
                <input type="login_email" class="form-control" name="login_email" placeholder="Email">
            </div>
            <div class="form-group">
                <label for="login_password">Password</label>
                <input type="password" class="form-control" name="login_password" placeholder="Password">
            </div>

            <button type="submit" class="btn btn-primary">Login</button>
            </form>





</body>

</html>